#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.teamName {
  font-style: italic;
}

.ash {
  width:5px;
}

.navbar {
  width: 100%;
  text-align: center;
  display: flex;
}

.navbarElement {
  width: 10%;
  margin-right: 15px;
  height: 28px;
  background-color: #444444;
  border-radius: 5px;
}

.navbarElement:hover {
  background-color: #646464;
  transition-duration: .2s;
}

/*  CSS dedicated to the home.jsx */
.projectSynopsis {
  text-align: left;
}

.all {
  width: 80vw;
  height: 100vw;
}

/*  CSS dedicated to Time.jsx */
.timeTableContainer {
  width: 100%;
}

.timeTableRow {
  border: solid #FFF 1px;
}

.tableHeader {
  font-weight: bold;
  font-size: large;
  width: 5%;
}

.timeTable {
  width: 200px;
  float: left;
}

.timeTableName {
  text-align: right;
  padding-right: 15px;
}

.timeTableHours {
  text-align: left;
}